<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
	
	<!-- compact form (see below for longer form)-->
	<%= render @users %>	
	
  <!-- <% @users.each do |user| %>
    <%= render user %>
  <% end %> -->

</ul>

<%= will_paginate %>